ErrorHandlingDemos/lib_ws/client/wsClient_15003F91E5C96948.wsdl

<?xml version="1.0" ?><wsdl:definitions name="NikeFactoryService" targetNamespace="http://acme.com/" xmlns:ns1="ch.ivyteam.ivy.webservice.process" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://acme.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://acme.com/" version="1.0" xmlns:tns="http://acme.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="produce" type="tns:produce"></xs:element>
<xs:element name="produceResponse" type="tns:produceResponse"></xs:element>
<xs:complexType name="produce">
    <xs:sequence>
      <xs:element minOccurs="0" name="model" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="amount" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produceResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="nikes" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="ch.ivyteam.ivy.webservice.process" xmlns:tns="ch.ivyteam.ivy.webservice.process" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TechnicalException" nillable="true" type="xsd:string"></xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="produceResponse">
    <wsdl:part element="tns:produceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WebServiceProcessTechnicalException">
    <wsdl:part element="ns1:TechnicalException" name="WebServiceProcessTechnicalException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="produce">
    <wsdl:part element="tns:produce" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NikeFactory">
    <wsdl:operation name="produce">
      <wsdl:input message="tns:produce" name="produce">
    </wsdl:input>
      <wsdl:output message="tns:produceResponse" name="produceResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServiceProcessTechnicalException" name="WebServiceProcessTechnicalException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NikeFactoryServiceSoapBinding" type="tns:NikeFactory">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="produce">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="produce">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="produceResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WebServiceProcessTechnicalException">
        <soap:fault name="WebServiceProcessTechnicalException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NikeFactoryService">
    <wsdl:port binding="tns:NikeFactoryServiceSoapBinding" name="NikeFactoryPort">
      <soap:address location="http://localhost:8082/ivy/ws/designer/myproject/15003F9A4276844D"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
